ion-Img {
    width: 150px;
    height: 150px;
    margin: 40px auto;
    display: block;
}


ion-Button {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


ion-Input {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}